* {
  font-family: sans-serif;
  color: 121212;
}

.separator {
  display: grid;
  grid-template-columns: 1fr 250px;
  height: 100vh;
  width: 100%;
}
.past-events {
  background-color: lavender;
  color: #121212;
  height: 100%;
  align-items: center;
  text-align: center;
  padding-top: 1em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border-radius: 8px;
}
.show-calendar {
  background-color: #121212;
  color: white;
  width: max-content;
  margin-left: 2em;
}
.show-calendar:visited {
  background-color: #121212;
  color: white;
}
.show-calendar:focus,
.show-calendar:hover,
.show-calendar:active {
  background-color: white;
  color: #121212;
  border-color: #121212;
}

.calendar-iframe {
  width: 100% !important;
  height: 34vw !important;
  border: 0;
}

.main-header {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.rest-of-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.interface {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin-bottom: 2em;
}
.title {
  font-size: 2em;
}

.chatbox {
  margin: 2em;
  border-style: solid;
  background-color: lavender;
  width: 80vw !important;
  height: 35vw !important;
  margin-bottom: 1em;
}
.textbox {
  margin: 2em;
  margin-top: 0;
  margin-bottom: auto;
}
.one-liners {
  display: flex;
  align-items: end;
  border-radius: 8px;
  justify-content: end;
}
.form-control {
}
.submit-button {
  background-color: #121212;
  padding: 0;
  width: min-content;
}
