<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendar</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      href="staticFiles/Untitled117_20240127192536.png"
      type="image/gif"
      sizes="16x16"
    />
    <link rel="stylesheet" href="staticFiles/styles.css" />
  </head>
  <body>
    <!-- Button to toggle offcanvas -->
    <div class="separator">
      <div class="interface">
        <div class="main-header">
          <button
            class="show-calendar btn btn-primary"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasCalendar"
          >
            Show Calendar
          </button>
          <div class="title">Calendar Buddy</div>
        </div>
        <div class="chatbox"></div>
        <div class="textbox form-group">
          <label for="comment">Question:</label>
          <div class="one-liners">
            <textarea class="form-control" rows="1" id="comment"></textarea>
            <button class="submit-button">
              <svg
                width="32px"
                height="32px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g id="SVGRepo_bgCarrier" stroke-width="0" />

                <g
                  id="SVGRepo_tracerCarrier"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />

                <g id="SVGRepo_iconCarrier">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12 3C12.2652 3 12.5196 3.10536 12.7071 3.29289L19.7071 10.2929C20.0976 10.6834 20.0976 11.3166 19.7071 11.7071C19.3166 12.0976 18.6834 12.0976 18.2929 11.7071L13 6.41421V20C13 20.5523 12.5523 21 12 21C11.4477 21 11 20.5523 11 20V6.41421L5.70711 11.7071C5.31658 12.0976 4.68342 12.0976 4.29289 11.7071C3.90237 11.3166 3.90237 10.6834 4.29289 10.2929L11.2929 3.29289C11.4804 3.10536 11.7348 3 12 3Z"
                    fill="#ffffff"
                  />
                </g>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="past-events">Past Events</div>
    </div>
    <!-- Offcanvas container -->
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasCalendar"
      aria-labelledby="offcanvasCalendarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasCalendarLabel">
          Google Calendar
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <!-- Google Calendar iframe -->
        <iframe
          class="calendar-iframe"
          src="{{calendar_embed_url}}"
          frameborder="0"
          scrolling="no"
        ></iframe>
      </div>
    </div>

    <!-- Bootstrap JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
